<div class="card" style="width: 18rem;">
  <img src="https://i.pinimg.com/236x/3f/a9/fe/3fa9fe249f516ff87909b587f7fefc8e--classic-video-tetris.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>